@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Roboto:wght@300;500&display=swap");
.App {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=App.css.map */